/*============================= MANUFACTURER LINKS =================================*/

a.acorn:link {
	background-image: url('../images/acorn_bw.jpg');	 
	background-repeat: no-repeat;
	background-position: 30px 20px; 

}

a.acorn:hover {
	background-image: url('../images/acorn_color.jpg');	 
	background-repeat: no-repeat;30px 20px
	background-position: 30px 20px; 
}

a.acorn:active {
	border: 1px solid red; 
	background-image: url('../images/acorn_color.jpg');	 
	background-repeat: no-repeat;
	background-position: 30px 20px; 
    
}

a.bobrick:link {
	background-image: url('../images/bobrick_bw.jpg');	 
	background-repeat: no-repeat;
	background-position: 30px 20px; 
}

a.bobrick:hover {
	background-image: url('../images/bobrick_color.jpg');	 
	background-repeat: no-repeat;
	background-position: 30px 20px; 
}

a.bobrick:active {
	border: 1px solid red; 
	background-image: url('../images/bobrick_color.jpg');	 
	background-repeat: no-repeat;
	background-position: 30px 20px;     
}

a.dssvalve:link {
	background-image: url('../images/dssvalve_bw.jpg');	 
	background-repeat: no-repeat;
	background-position: 30px 20px; 
}

a.dssvalve:hover {
	background-image: url('../images/dssvalve_color.jpg');	 
	background-repeat: no-repeat;
	background-position: 30px 20px; 
}

a.dssvalve:active {
	border: 1px solid red; 
	background-image: url('../images/dssvalve_color.jpg');	 
	background-repeat: no-repeat;
	background-position: 30px 20px;     
}


a.elmdor:link {
	background-image: url('../images/elmdor_bw.jpg');	 
	background-repeat: no-repeat;
	background-position: 30px 20px; 
}

a.elmdor:hover {
	background-image: url('../images/elmdor_color.jpg');	 
	background-repeat: no-repeat;
	background-position: 30px 20px; 
}

a.elmdor:active {
	border: 1px solid red; 
	background-image: url('../images/elmdor_color.jpg');	 
	background-repeat: no-repeat;
	background-position: 30px 20px;    
}

a.gamco:link {
	background-image: url('../images/gamco_bw.jpg');	 
	background-repeat: no-repeat;
	background-position: 30px 20px; 
}

a.gamco:hover {
	background-image: url('../images/gamco_color.jpg');	 
	background-repeat: no-repeat;
	background-position: 30px 20px; 
}

a.gamco:active {
	border: 1px solid red; 
	background-image: url('../images/gamco_color.jpg');	 
	background-repeat: no-repeat;
	background-position: 30px 20px;    
}


a.ipex:link {
	background-image: url('../images/ipex_bw.jpg');	 
	background-repeat: no-repeat;
	background-position: 30px 20px; 
}

a.ipex:hover {
	background-image: url('../images/ipex_color.jpg');	 
	background-repeat: no-repeat;
	background-position: 30px 20px; 
}

a.ipex:active {
	border: 1px solid red; 
	background-image: url('../images/ipex_color.jpg');	 
	background-repeat: no-repeat;
	background-position: 30px 20px;    
}

a.just:link {
	background-image: url('../images/just_bw.jpg');	 
	background-repeat: no-repeat;
	background-position: 30px 20px; 
}

a.just:hover {
	background-image: url('../images/just_color.jpg');	 
	background-repeat: no-repeat;
	background-position: 30px 20px; 
}

a.just:active {
	border: 1px solid red; 
	background-image: url('../images/just_color.jpg');	 
	background-repeat: no-repeat;
	background-position: 30px 20px;    
}

a.koala:link {
	background-image: url('../images/koala_bw.jpg');	 
	background-repeat: no-repeat;
	background-position: 30px 20px; 
}

a.koala:hover {
	background-image: url('../images/koala_color.jpg');	 
	background-repeat: no-repeat;
	background-position: 30px 20px; 
}

a.koala:active {
	border: 1px solid red; 
	background-image: url('../images/koala_color.jpg');	 
	background-repeat: no-repeat;
	background-position: 30px 20px;    
}

a.murdock:link {
	background-image: url('../images/murdock_bw.jpg');	 
	background-repeat: no-repeat;
	background-position: 30px 20px; 
}

a.murdock:hover {
	background-image: url('../images/murdock_color.jpg');	 
	background-repeat: no-repeat;
	background-position: 30px 20px; 
}

a.murdock:active {
	border: 1px solid red; 
	background-image: url('../images/murdock_color.jpg');	 
	background-repeat: no-repeat;
	background-position: 30px 20px;    
}


a.ppp:link {
	background-image: url('../images/ppp_bw.jpg');	 
	background-repeat: no-repeat;
	background-position: 30px 20px; 
}

a.ppp:hover {
	background-image: url('../images/ppp_color.jpg');	 
	background-repeat: no-repeat;
	background-position: 30px 20px; 
}

a.ppp:active {
	border: 1px solid red; 
	background-image: url('../images/ppp_color.jpg');	 
	background-repeat: no-repeat;
	background-position: 30px 20px;    
}

a.sloan:link {
	background-image: url('../images/sloan_bw.jpg');	 
	background-repeat: no-repeat;
	background-position: 30px 20px; 
}

a.sloan:hover {
	background-image: url('../images/sloan_color.jpg');	 
	background-repeat: no-repeat;
	background-position: 30px 20px; 
}

a.msloan:active {
	border: 1px solid red; 
	background-image: url('../images/sloan_color.jpg');	 
	background-repeat: no-repeat;
	background-position: 30px 20px;    
}

a.smith:link {
	background-image: url('../images/smith_bw.jpg');	 
	background-repeat: no-repeat;
	background-position: 30px 20px; 
}

a.smith:hover {
	background-image: url('../images/smith_color.jpg');	 
	background-repeat: no-repeat;
	background-position: 30px 20px; 
}

a.smith:active {
	border: 1px solid red; 
	background-image: url('../images/smith_color.jpg');	 
	background-repeat: no-repeat;
	background-position: 30px 20px;    
}
a.smithaco:link {
	background-image: url('../images/smithaco_bw.jpg');	 
	background-repeat: no-repeat;
	background-position: 30px 20px; 
}

a.smithaco:hover {
	background-image: url('../images/smithaco_color.jpg');	 
	background-repeat: no-repeat;
	background-position: 30px 20px; 
}

a.smithaco:active {
	border: 1px solid red; 
	background-image: url('../images/smithaco_color.jpg');	 
	background-repeat: no-repeat;
	background-position: 30px 20px;    
}

a.symmons:link {
	background-image: url('../images/symmons_bw.jpg');	 
	background-repeat: no-repeat;
	background-position: 30px 20px; 
}

a.symmons:hover {
	background-image: url('../images/symmons_color.jpg');	 
	background-repeat: no-repeat;
	background-position: 30px 20px; 
}

a.symmons:active {
	border: 1px solid red; 
	background-image: url('../images/symmons_color.jpg');	 
	background-repeat: no-repeat;
	background-position: 30px 20px;    
}

a.tsbrass:link {
	background-image: url('../images/tsbrass_bw.jpg');	 
	background-repeat: no-repeat;
	background-position: 30px 20px; 
}

a.tsbrass:hover {
	background-image: url('../images/tsbrass_color.jpg');	 
	background-repeat: no-repeat;
	background-position: 30px 20px; 
}

a.tsbrass:active {
	border: 1px solid red; 
	background-image: url('../images/tsbrass_color.jpg');	 
	background-repeat: no-repeat;
	background-position: 30px 20px;    
}

a.tyler:link {
	background-image: url('../images/tyler_bw.jpg');	 
	background-repeat: no-repeat;
	background-position: 30px 20px; 
}

a.tyler:hover {
	background-image: url('../images/tyler_color.jpg');	 
	background-repeat: no-repeat;
	background-position: 30px 20px; 
}

a.tyler:active {
	border: 1px solid red; 
	background-image: url('../images/tyler_color.jpg');	 
	background-repeat: no-repeat;
	background-position: 30px 20px;    
}

a.whitehall:link {
	background-image: url('../images/whitehall_bw.jpg');	 
	background-repeat: no-repeat;
	background-position: 30px 20px; 
}

a.whitehall:hover {
	background-image: url('../images/whitehall_color.jpg');	 
	background-repeat: no-repeat;
	background-position: 30px 20px; 
}

a.whitehall:active {
	border: 1px solid red; 
	background-image: url('../images/whitehall_color.jpg');	 
	background-repeat: no-repeat;
	background-position: 30px 20px;    
}

